/*TO FIX VLSM SIZING AND FONTS, TO FIX SECTIONS, TO FIX SECTION MARGIN, TO FIX SECTION SPACING*/



/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/


:root{
    --primary-color: rgb(0, 63, 199);
    --secondary-color: rgb(0, 31, 77);
    --tertiary-color: rgb(226, 128, 0);
    --background-color: white;
}

h1, h2{
    font-family: PlayFair Display, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 700;
    color: var(--secondary-color) !important;
}

*{  
    font-family:  Onest, Tektur, PlayFair Display,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
}

/*These are the styles for the navbar*/
nav {
    margin: 0px 0px;
    /* REMOVED: display: flex; - This was breaking Bootstrap */
    /* REMOVED: align-items: center; */
    /* REMOVED: justify-content: space-between; */
    width: 100%;
}

/* Reset Bootstrap navbar defaults */
.navbar {
    padding: 0 !important;
    background: transparent !important;
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.center_nav > ul {
    list-style: none;
    display: flex;

    padding: 0;
}

.logo > a > img {
    width: 100px;
}

.center_nav {
    display: flex;
    justify-content: center;
}

.center_nav > ul > li > a {
    font-size: 16px;
    color: var(--secondary-color);
    text-decoration: none;
    display: block;
    margin: 0px 0px;
    padding: 16px 24px;
    font-weight: 400;
    border-bottom: 1px solid transparent;
    transition: linear 0.2s;
}

.center_nav > ul > li > a:hover {
    transform:scale(1.02);
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
}

li > .about_me{
    margin-left: 20px;
}
/*Button from navbar*/
.about_me > a > button{
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 16px 24px;
    border-radius: 32px;
    cursor: pointer;
    font-size: 16px;
    border: 1px solid white;
    transition: transform 0.2s, background-color 0.8s;
}

.about_me > a > button:hover {
    transform: scale(1.02);  
    background-color: var(--tertiary-color);
}

/*Navbar styles end here.*/

/*Footer styles*/
footer {
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    padding: 16px 0px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer > ul > li > a{
    list-style: none;
    text-decoration: none;
    display: inline;
    margin: 0px 8px;
    cursor: pointer;
    transition: transform 0.2s;
    color: white;
}

footer > ul{
    margin-top: 20px;
    padding: 0;
}

footer > p{
    margin-top: 16px;
    font-size: 14px;
    font-weight: 300;
    font-family: Playfair Display, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--tertiary-color);
}
/*Footer styles end here.*/


/*these are he styles for the body*/
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    line-height: 1.6;
    overflow-x: hidden;
}

.main_statement{
    font-weight:900;
    margin-top: 100px;
}

.substatement{
    font-size: 22px;
    font-weight: 500;
}

.main_image{
    background-color: rgba(0, 63, 199, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 15px;
    padding: 50px;
}

.main_image > img{
    border-radius: 10px;
}

.vlsm_image, .conversie > img{
    border-radius: 15px;

}

.vlsm, .conversie{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
}

.vlsm > div, .conversie > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 50%;
    padding: 0px 32px;
}

.vlsm > div > h2, .conversie > div > h2{
    font-weight: 700;
    font-size: 42px;
}

.vlsm > div > p, .conversie > div > p{
    font-weight: 400;
    font-size: 22px;
    margin-top: 16px;
    max-width: 400px;
}

.section-btn{
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 16px 24px;
    border-radius: 42px;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.2s, background-color 0.8s;
}
.section-btn:hover {
    transform: scale(1.02);  
    background-color: var(--tertiary-color);
}

.section-btn > *{
    color: white;
    text-decoration: none;
}

.conversie > img{
    border: 3px solid var(--secondary-color);
}

/*Media queries for navbar responsiveness*/

.nav_responsive {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/* Make sure navbar toggler is visible */
.navbar-toggler {
    border: 1px solid rgba(0,0,0,.1);
}

.navbar-toggler:focus {
    box-shadow: none;
}


/*
404 page styles 404  404  404  404  404  404  404  404  404  404  404  404 
*/
.page404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px;
    margin-bottom: 0px !important;
}

.page404 > p, .page404 > img{
    margin-top: 16px;
}

.page404 > h1{
    font-size: 48px;
    font-weight: 900;
    color: var(--secondary-color);
}

.page404 > img{
    height: 65vh
}
/************************************************************************/

/*
About me page
*/
.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px;
    margin-bottom: 0px !important;
}

.about > p {
    max-width: 600px;
    text-align: justify;
    margin-top: 16px;
    font-size: 18px;
    font-weight: 400;
}

#avatar{
    max-width: 300px;
    margin-top: 64px;
    border-radius: 20px;
}

#ceee_logo{
    max-width: 150px;
}

.tech_stack{
    margin-top: 32px;
}

.about > h2{
    font-weight: 700;
    margin-top: 16px;
}

.tech_stack > ul > li > img{
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    transition: transform 0.5s;
}

.tech_stack > ul > li > img:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.tech_stack > ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}


/*  VLSM Calculator */
.vlsmpage, .subnettingpage{
    display: flex;
    flex-direction: column;
    align-items: center;
}



.conversions_container, .subnetting_calculator_container{
    margin-top: 32px;
    max-width: 600px;
}

.conversion_label{
    display: block;
    width: 100%;
    height: auto;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 16px;
    border: 1px solid rgb(188, 209, 255);
    border-radius: 5px;
    background-color: white;
    font-size: 14px;
    color: rgb(51, 51, 51);
    overflow-wrap: break-word;
}

#vlsm_heading{
    max-width: 80%;
}

.vlsm_calculator_container > h1{
    font-weight: 900;
}

.vlsm_calculator_container > p, .first_section_network_container > p, .first_conversion_container > p{
    margin-bottom: 0px;
    opacity: 0.7;
    font-size: 12px;
}

.first_section_network_container, .first_conversion_container{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(243, 247, 255);
    border: 1px solid rgb(247, 247, 247);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0px auto;
}

.first_section_network_container{
    margin-bottom: 20px;
}

.first_conversion_container{
    padding: 25px;
    margin-bottom: 25px;
}

.subnet_quantity_input{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 12px !important;
} 

.subnet_submit{
    margin: 0 auto;
    padding: 12px 36px !important;
}

.slim-btn{
    background-color: white;
    color: var(--primary-color);
    border: none;
    padding: 8px 16px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    transition: transform 0.2s, background-color 0.8s, color 0.8s, border 0.8s;
    border: 2px solid rgb(183, 207, 255);

}

.slim-btn:hover{
    background-color: rgb(183, 207, 255);
    color: var(--secondary-color);
    border: 2px solid var(--primary-color);
}

#network_address{
    width: 100%;
    margin-right: 10px;
}

#results_table {
    border-collapse: collapse;
}

#results_table th, #results_table td {
    border: 1px solid rgb(224, 224, 224);
    padding: 10px 16px;
    text-align: left;
}

.results_container{
    display: block !important;
    width: 100%;
    margin-top: 64px;
    overflow-x: scroll !important;
}

/*Styles that make the page responsive*/

@media (min-width: 320px) {
    .main_image > img {
        max-width: 100vw;
    }
    .logo > a > img {
        width: 64px;
    }
    .center_nav{
        justify-content: flex-end;
        text-align: right;
    }
    .about_me > a > button{
        padding: 0px;
    }
    nav{
        margin-top: 10px;
    }
    .center_nav > ul > li > a {
        margin: 0 !important;
        padding-right: 0px !important;
    }
    .about_me > a > button{
        background-color: var(--background-color);
        font-weight: 700;
        color: var(--tertiary-color);
        border: 0px;
        margin-top: 16px;
    }
    .about_me > a > button:hover {
    transform: scale(1.02);  
    background-color: var(--background-color) !important;

    }

    .main_statement{
        font-size: 42px;
        text-align: center;
        margin-top: 32px;
    }
    .substatement{
        font-size: 18px;
        text-align: center;
        margin-bottom: 32px;
    }

    .vlsm > div > h2, .conversie > div > h2{
        font-size: 36px;
    }

    .vlsm > div > p, .conversie > div > p{
        font-size: 18px;
        max-width: 100%;
    }


    .conversie{
        /* Use !important only if needed to override inline or higher specificity styles */
        flex-direction: column-reverse;

    }
    .vlsm{
        flex-direction: column;
    }

    .vlsm > div, .conversie > div{
        max-width: 100%;
        align-items: center;
        text-align:justify;
    }


    .section_margin_top{
        margin-top: 60px;
    }


    /*vlsm page specific styles*/
    .vlsm_calculator_container {
        padding: 20px;
        max-width: calc(100vw - 40px);
        margin-left: 5px;
        margin-right: 5px;
    }

    .vlsm_calculator_container > p{
        font-size: 14px;
    }
    .first_section_network_container{
        padding: 20px;
        min-width: calc(100vw - 80px);
    }
}


@media (min-width: 576px) {
    .logo > a > img {
        width: 72px;
    }

        li > .about_me{
        margin-left: 0px;
    }
    
    .main_image > img {
        max-width: 400px;
    }
    
    .main_statement{
    font-size: 42px;
    text-align: center;
    margin-top: 32px;
}
    .substatement{
    font-size: 18px;
    text-align: center;
    margin-bottom: 32px;

}
    /*vlsm page specific styles*/
    .vlsm_calculator_container {
        padding: 30px;
        max-width: 566px;
    }
    .first_section_network_container{
        padding: 15px;
        min-width: 526px;
    }

}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .navbar-toggler {
        display: none !important;
    }
    .navbar-collapse {
        margin-top: 1rem;
    }
    .main_image > img {
        max-width: 450px;
    }

    .center_nav ul {
        flex-direction: column;
    }

    .center_nav > ul > li > a {
        padding-right: 24px !important;
    }

    .navbar-collapse {
        display: flex !important;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;
    }
    .center_nav {
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
    }
    .logo > a > img {
        width: 80px;
    }
    .about_me > a > button{
        padding: 16px 24px;
        font-size: 14px;
    }
    li > .about_me{
        margin-left: 20px;
    }
    
    .about_me > a > button{
        background-color: var(--primary-color);
        font-weight: 700;
        color: var(--background-color);
        border: 0px;
        margin-top: 0px;
    }
    .about_me > a > button:hover {
    background-color: var(--tertiary-color) !important;

    }

    .main_statement{
        font-size: 48px;
        text-align: center;
        margin-top: 32px;
    }
    .substatement{
        font-size: 22px;
        text-align: center;
        margin-bottom: 32px;

    }
    .vslm > div > h2, .conversie > div > h2{
        font-size: 42px;
    }

    .vslm > div > p, .conversie > div > p{
        font-size: 20px;
        max-width: 100%;
    }


    .conversie{
        /* Use !important only if needed to override inline or higher specificity styles */
        flex-direction: row;

    }
    .vlsm{
        flex-direction: row;
    }
    .vlsm_image, .conversie > img{
        max-width: 450px;
    }

    .conversie > div{
        text-align: right;
        align-items: flex-end;

    }
     .vlsm > div{
        text-align: left;
        align-items: flex-start;
     }
    .section-btn{
        display: flex;
    }
    .section_margin_top{
        margin-top: 120px;
    }
        /*vlsm page specific styles*/
    .vlsm_calculator_container {
        min-width: 700px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .first_section_network_container{
        min-width: 640px;
    }
}


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    .main_image > img {
        max-width: 700px;
    }

    .logo > a > img {
        width: 88px;
    }
    nav{
        margin-top: 0px;
    }
    .center_nav > ul > li > a {
        margin: 0px 8px !important;
        padding-right: 24px !important;
    }
    li > .about_me{
        margin-left: 20px;
    }

    .vlsm_image, .conversie > img{
        max-width: 600px;
    }

    .section_margin_top{
        margin-top: 160px;
    }
        /*vlsm page specific styles*/
    .vlsm_calculator_container {
        max-width: 860px;
    }
    
    .first_section_network_container{
        min-width: 800px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    .main_image > img {
        max-width: 850px;
    }
        li > .about_me{
        margin-left: 30px;
    }
    .vlsm_image, .conversie > img{
        max-width: 750px;
    }
}

/* XXL devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

}